body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}



.cats-button {
    background-color: #a2d5f2;
}
.dogs-button {
    background-color: #ccda46;
}
.dinos-button {
    background-color:#ee8572;
}



/*this is the whole flexbox container for all the cards*/
#pet-barn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

/*this is the individual pet cards*/
.animals {
    border: solid;
    border-color: slategray;
    border-radius: 15px;
    background-color: snow;
    margin: 10px;
    max-width: 30%;
    display: flex;
    flex-flow: column;
}



.pet-name {
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    color: slategrey;
    font-weight: bold;
    font-size: 2em;
}


p {
    text-align: center;
}

/*
this one works too!

img {
    margin: auto;
    max-width: 75%;
    border-style: solid;
    border-color: slategray;
    border-width: 1px;
    border-radius: 15px;

}
*/

.pet-image {
    margin: auto;
    max-width: 50%;
    border-style: solid;
    border-color: slategray;
    border-width: 1px;
    border-radius: 15px;
}

.catCard {
background-color: #a2d5f2;
padding: 15px;
font-weight: bold;
color: #07689f;
font-size: 1.5em;
}

.dogCard {
background-color: #ccda46;
padding: 15px;
font-weight: bold;
color: #697c37;
font-size: 1.5em;
}

.dinoCard {
    background-color:#e3e3e3;
    padding: 15px;
    font-weight: bold;
    color: #ee8572;
    font-size: 1.5em;
}



