body {
    background-color: darkolivegreen
}




.pet-barn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}


.animals {
    border: solid;
    border-color: black;
    background-color: snow;
    margin: 10px;
    max-width: 30%;
}



.pet-name {
    background-color: lightgrey;
    border-width: 2px;
    border-color: steelblue;
    border: solid;
}

.pet-barn, p {
    color: red;
    background-color: yellow;
}


img {
    max-width: 20%;
}
